.list-group-item[data-plot] {
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.list-group-item[data-plot]:hover {
  background-color: rgba(166, 206, 227, 0.1);
}

.list-group-item[data-plot] h3:hover {
  font-style: italic;
}

.list-group-item a {
  display: block;
  margin-top: 1em;
}

.list-group-item a:hover {
  text-decoration: none;
}

.list-group-item a:hover pre {
  background-color: rgba(178, 223, 138, 0.5);
  color: rgba(51, 160, 44, 1);
  border-color: rgba(51, 160, 44, 1);
}